PUBLIC_URL=https://gdvcam16.gdapps.online
DATABASE_URL=postgresql+psycopg2://gdvcam16:change-me@database:5432/gdvcam16
POSTGRES_PASSWORD=change-me
SECRET_KEY=change-me
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-me

