<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="36" android:compileSdkVersionCodename="16" package="com.gdvcam16.app" platformBuildVersionCode="36" platformBuildVersionName="16">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <application android:allowBackup="false" android:extractNativeLibs="false" android:icon="@mipmap/ic_launcher" android:label="GDVCam16" android:networkSecurityConfig="@xml/network_security_config" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true" android:theme="@style/Theme.ApexCam" android:usesCleartextTraffic="false">
        <activity android:exported="true" android:name="com.apex.cam.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:exported="false" android:name="com.apex.cam.MainActivity"/>
        <activity android:exported="false" android:name="com.apex.cam.AccountActivity"/>
        <activity android:exported="false" android:name="com.apex.cam.LicenseActivity"/>
        <activity android:exported="false" android:name="com.apex.cam.MediaEditorActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.apex.cam.DeviceIdentityActivity"/>
        <provider android:authorities="com.gdvcam16.app.update" android:exported="false" android:grantUriPermissions="true" android:name="com.apex.cam.UpdateProvider"/>
        <service android:exported="false" android:foregroundServiceType="specialUse" android:name="com.apex.cam.OverlayService">
            <property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE" android:value="lab camera control overlay"/>
        </service>
    </application>
</manifest>
